* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}

body {
    /**
    viewport width | viewport height | */
    width: 100vw;
    height: 100vh;
    border: 0px;
    background-color: red;

    display: flex;
    flex-direction: row;
    /* align-items | justify-content */
    align-items: center;
    justify-content: space-around;

    flex-wrap: wrap;
}

.box {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    margin: 0px;
    padding: 10px;
}
/* 
#dois {
    align-self: flex-end;
}

#tres {
    align-self: flex-start;
}
*/
